/* variables */
:root{
   /*  --sidebar-bg-clr: linear-gradient(351deg, rgba(18,2,61,1) 28%, rgba(53,28,120,1) 69%, rgba(0,0,0,1) 99%); */
    --asidebar-bg-clr: #141414;
    /* --body-bg-clr: radial-gradient(at 100% 100%, rgb(0, 0, 0)  5%, rgb(160, 60, 60) 10%, rgb(15, 15, 15) 10%); */
    --body-bg-clr: linear-gradient(351deg, rgba(18,2,61,1) 28%, rgba(53,28,120,1) 69%, rgba(0,0,0,1) 99%);
    --body-bg-clr-backup:rgb(18,2,61);
    --link-sideBar-clr: gold;
    --sidebar-clr: rgb(204, 204, 204);
    --main-clr: rgb(204, 204, 204);
    --boby-clr: rgb(204, 204, 204);
}

/* default setting for basic elements */
html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section
{
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
}

html{
    scroll-behavior: smooth;
}

/* body and main content */
body{
    display: flex;
    flex-direction: column;
    line-height: 1;
    background: var(--body-bg-clr);
    color: var(--boby-clr);
    font-family: 'Ubuntu Mono', serif;
    min-height: 100vh;
}

.mine_content{
    flex-grow: 1;
    color: var(--main-clr);
}

a{
    color: var(--main-clr);
}

a:hover, a:focus, a:active,
button:hover, button:focus, button:active{
    color: var(--link-sideBar-clr);
}

a.no_underline{
    text-decoration: none;
}

/* sidebar */
.boder_heder{
    border: 1px solid var(--main-clr);
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.side_bar {
    display: none;
    /* background: var(--sidebar-bg-clr); */
    color: var(--sidebar-clr);
    width: clamp(5rem, 20vw, 20rem);
    font-size: clamp(0.8rem, 2vw, 2rem);
    padding-top: 2rem;
}

.side_bar h3{
text-transform: uppercase;
}

.side_bar ol, 
.side_bar ul,
.side_bar li{
    list-style: none;
    width: 100%;
    text-align: center;
}

.side_nav ul li{
    margin: 1rem 0;
}
.side_nav ul li a{
    padding: .2rem 0;
}

.side_bar header img{
    width: 70%;
    height: auto;
}

.side_bar a:active,
.side_bar a:focus,
.side_bar a:hover{
   color: var(--link-sideBar-clr);
}

.go_to_top{
    position: relative; /* rest (top argument) is managed by JS*/
    text-align: center;
/*     display: flex;
    justify-content: space-between; */ /*placed to JS*/
    padding: .5rem ;
    background: var(--asidebar-bg-clr);
    display: none;
}
.nav_descr_horisont{
    display: none;
}

/* asidebar */
.aside_bar{
    background: var(--asidebar-bg-clr);
    width: clamp(1.5rem, 5vw, 3rem);
    font-size: clamp(0.7rem, 3vw, 2.5rem);
    text-align: center;
   /*  border-left: 1px solid rgb(0, 0, 0); */
    padding-top: 2rem;
}

.skryj{
    cursor: pointer;
    padding: 1rem .2rem;
 }
 .skryj:active,
 .skryj:focus,
 .skryj:hover{
    color: var(--link-sideBar-clr);
 }

 .nav_descr{
    margin-bottom: 0.2rem;
 }

 /* footer */
footer{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7rem, 1.7vw, 1.5rem);
    padding: .5em;
    border-top: 2px solid var(--main-clr);
  /*   height: clamp(0.5rem, 10hw, 2rem); */
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
}
footer div span{
    margin: 0 1rem 0.3rem 0;
}

/* flex additional setting */
.flex_child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_wraper {
    display: flex;
    flex-grow: 1;
}

  /* response media */
@media screen and (min-width: 400px) {
    footer div{
        flex-direction: row;
    }
}
@media screen and (min-width: 600px) {
    .side_bar {
        display: block;
    }
    .chevron_right{
        display: none;
    }
    .chevron_left{
        display: block;
    }
    .nav_descr_horisont{
        display: block;
    }
}
@media screen and (min-width: 810px) {
    footer{
/*         position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(10, 21, 85, 0.7); */
        flex-direction: row-reverse;
        justify-content: center;
    }
    footer div{
        flex-direction: column;
        align-items: center;
        margin: 0 clamp(1rem, 5vw, 3rem);
    }
    footer div span{
        margin-right: 0;
    }
}
