/* variables */
:root{
    --asidebar-bg-clr: rgb(0, 0, 100);
    /* --body-bg-clr: radial-gradient(at 100% 100%, rgb(0, 0, 0)  5%, rgb(160, 60, 60) 10%, rgb(15, 15, 15) 10%); */
    --body-bg-clr: rgb(250, 250, 250);
    --link-sideBar-clr: rgb(158, 134, 0);
    --main-clr: rgb(0, 0, 80);
    --main-clr_rev: rgb(204, 204, 204);
    --nav-panel-height: clamp(0.7rem, 3vw, 2rem); /* is used for project nav offset as well */
}



/* default setting for basic elements */
html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section
{
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
}



/* body */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
    background: var(--body-bg-clr);
    font-family: 'Ubuntu Mono', serif;
    min-height: 100vh;
}



/*   header*/
header{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size:  clamp(1rem, 3vw, 2rem);
    border-top: 3px solid var(--asidebar-bg-clr);
}
header img{
    width: clamp(64px, 10vw, 128px);  
    height: auto;
}
.go_home{
    display: flex;
    align-items: center;
    justify-content: center;
}



/**links */ 
a{
    color: var(--main-clr);
}
a:hover, a:focus, a:active,
button:hover, button:focus, button:active{
    color: var(--link-sideBar-clr);
}
a.no_underline{
    text-decoration: none;
}


/**navigation */
.nav_bar {
    display: flex;
    gap: 0.5rem 1.5rem; /* row-gap column gap */
    flex-wrap: wrap;
    justify-content: center;
    
    font-size:  clamp(1rem, 3vw, 2rem);
    background-color: rgb(214, 212, 212);
    padding: 0.5rem;
}



/* nav panel */
.nav_panel{
    cursor: pointer;
    background: var(--asidebar-bg-clr);
    font-size: var(--nav-panel-height);
    text-align: center;
    position: sticky;
    top: 0;
}
.nav_panel a{
    color: var(--main-clr_rev);
}


/**main content */
.mine_content{
    color: var(--main-clr);
    padding: 1rem 0.5rem;
}



 /* footer */
footer{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7rem, 1.7vw, 1.5rem);
    padding: .5em;
    border-top: 2px solid var(--main-clr);

}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0.5rem;
}
footer div span{
    margin: 0 1rem 0.3rem 0;
}



/* response media */
@media screen and (min-width: 300px) {
    footer div{
        flex-direction: row;
    }
}
@media screen and (min-width: 600px) {
    footer{
        flex-direction: row-reverse;
        justify-content: center;
    }
    footer div{
        flex-direction: column;
        align-items: center;
        margin: 0 clamp(1rem, 5vw, 3rem);
    }
/*     .break{
        display: none;
    } */
}
@media screen and (min-width: 810px) {
/*     footer{
        flex-direction: row-reverse;
        justify-content: center;
    }
    footer div{
        flex-direction: column;
        align-items: center;
        margin: 0 clamp(1rem, 5vw, 3rem);
    }
    footer div span{
        margin-right: 0;
    } */
}
