.project_content{
  max-width: 1000px;
  margin: auto;
}

.projects_nav {
  margin-bottom: 2rem;
  position: sticky;
  top: var(--nav-panel-height);
  background-color: black;
}

.projects_nav a{
  margin-right: 1rem;
  padding: 0 0.5rem;
  font-weight: 400;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  color: var(--main-clr_rev);
}

main h1{
  font-weight: 800;
  font-size: clamp(1.6rem, 3vw, 2.7rem);
  margin-top: clamp(0.2rem, 1vw, 2rem);
  margin-bottom: .5rem;
}

main h2{
  font-weight: 700;
  font-size: clamp(1.3rem, 3vw, 2.5rem);
  padding-top: 10vh;
  margin-bottom: .2rem;
}

main h4{
  font-weight: 500;
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-top: clamp(0.4rem, 1vw, 2rem);
  margin-bottom: .2rem;
  padding-left: 1rem;
}

article{
  margin: 0.8rem 1rem 1.5rem clamp(0.8rem, 3vw, 3rem); 
  padding-top: 1rem;
  border-top: 2px solid rgba(5, 5, 5, 0.4);
  min-height: 100vh;
}

p{
  padding-left: 3rem;
}

code {
  background-color: #333333;
  border: 1px solid #999;
  display: block;
  max-width: min(60vw, 810px);
/*   padding: 10px; */
  overflow: auto;
}